/*fdf2e4*/
body{
     color: rgb(253,242,228); 
     font-family: UniverseLight;
     font-weight: bold;

  }  
  .container{
    width: 200px;
    height: 2px;
    margin: 0 auto;
    position: relative;
    display:inline-block;
   } 
  #cost{
    transform: translate(-563px,-931px);
    height:100px;
    width:300px;
    float:right;
    font-family: UniverseLight;
    padding: 5px;
    font-size: 13px;
  }
  #H20{
    transform: translate(22px,-548px);
    width:300px;
    height:300px;

  }
  #C02{
    transform: translate(1060px,-700px);
    width:300px;
    height:300px;
  }
  #Calories{
    transform: translate(900px,-1200px);
    width:300px;
    height:300px;
  }
img[name=Burger] {
  transform: translate(680px,-313px);

   /*scale(2,2); */
}
img[name="Steak"] {
  transform: translate(176px,-602px);
}
img[name="Cheese"] {

  transform: translate(210px,-210px);
}
img[name="Bacon"] {

  transform: translate(-39px,-739px);
}
img[name="Chicken"] {

  transform: translate(-169px,-444px);
}
img[name="Egg"] {

  transform: translate(-251px,-868px);
}
img[name="Potato"] {
  transform: translate(-157px,-599px);
}
img[name="Fries"] {

  transform: translate(-334px,-854px);
}
img[name="Chips"] {
  transform: translate(-464px,-732px);
}
img[name="Rice"] {
  transform: translate(-430px,-262px);
}
img[name="Peanut Butter"] {
  transform: translate(-701px,-996px);
}
img[name="Tofu"] {
  transform: translate(-678px,-365px);
}
img[name="Beans"] {
  transform: translate(-890px,-332px);
}
img[name="Lettuce"] {
  transform: translate(-758px,-839px);
}
img[name="Broccoli"] {
  transform: translate(-915px,-723px);
}
img[name="Corn"] {
  transform: translate(-919px,-949px);
}
img[name="Strawberry"] {
  transform: translate(-1203px,-480px);
}
img[name="Tomato"] {
  transform: translate(-1320px,-606px);
}
img[name="Orange"] {
  transform: translate(-1280px,-493px);
}
img[name="Bananas"] {
  transform: translate(608px,-773px);
}
img[name="Bread"] {
  transform: translate(413px,-1351px);
}